ASSET_URL=http://localhost:5173
ASTRONOMY_API_ID=secret
ASTRONOMY_API_SECRET=secret

DB_NAME=astrophoto
DB_USER=astrophoto_user
DB_PASSWORD=enter password here
DB_HOST=hostname here
DB_PORT= port here

ALLOWED_HOSTS= allowed hosts here
CSRF_TRUSTED_ORIGINS=origins